#background {
  viewport-fill: black;
}

.contentText {
  fill: white;
  font-size: 50;
  font-family: Fabrikat-Black;
}

#currentTime {
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 30%;
}

#heartRate {
  x: 50%;
  y: 80%;
}